.panel-heading .expand-icon:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.panel-heading.collapsed .expand-icon:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.jobBox {
    margin: 10px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.button {
    margin: 5px;
}
